<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetaGempaLeaflet"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 1. SPLASH ACTIVITY (Menjadi Launcher Utama) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- Menggunakan tema tanpa Action Bar khusus Splash -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. MAIN ACTIVITY (Bukan Launcher lagi) -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <!-- Intent Filter LAUNCHER dihapus dari sini -->
        </activity>

    </application>
</manifest>